.optionsmenu_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  flex-direction: column;
  user-select: none;
}

.optionsmenu_div-div {
  width: 300px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.optionsmenu_div-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  cursor: pointer;
}

.optionsmenu_div-option:hover span {
  color: #fff;
}

.optionsmenu_div-option span {
  color: #c5c6c6;
  font-family: 'Kanit', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.optionsmenu_div-sub {
  position: fixed;
  background: #9e77f3;
  margin-top: 25px;
  height: 2px;
  top: 75px;
  left: 0px;
  border-radius: 10px;
  transition: transform 0.5s ease, width 1s ease;
  z-index: 20000;
}

.selectedOp span {
  color: #fff;
}
