.searchbar_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  margin: 15px 20px;
  padding: 5px 0px;
  border: #424345 solid 1px;
}

.searchbar_div-input {
  height: 30px;
  width: 75%;
  background: none;
  border: none;
  outline: none;
  padding-left: 8px;
  color: #cfcfcf;
  font-size: 15px;
}

.searchbar_div-input::placeholder {
  color: #545556;
}