.searchoptions_div {
  margin: 10px 25px
}

.searchoptions_div-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  user-select: none;
}

.searchoptions_div-div::-webkit-scrollbar {
  display: none;
}

.searchoptions_div-searchoption {
  display: flex;
  min-width: auto;
  max-width: 80px;
  padding: 7px 10px;
  margin: 0px 0px;
  margin-right: 10px;
  background: #333435;
  border-radius: 10px;
  cursor: pointer;
  border: #464748 solid 1px;
}

.searchoptions_div-searchoption span {
  color: #949595;
  text-align: center;
  white-space: nowrap;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
}

.searchoptions_div-searchoption:hover {
  background: #464748;
}

.searchoptions_div-move {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  height: 40px;
  width: 20px;
  cursor: pointer;
}

.searchoptions_div-moveLeft {
  top: 119px;
  left: 25px;
  background: rgb(2,0,36);
  background: linear-gradient(270deg, rgba(2,0,36,0) 0%, #252627 100%);
}

.searchoptions_div-moveRight {
  top: 119px;
  left: 305px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, #252627 100%);
}

.searchoptions_div-move svg path {
  color: #fff;
}