@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  background: #fff 100vh;
}

#main_div {
  display: flex;
}